  html,
  body {
    background-color: #f8f9fa !important;
  }

  .card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    align-self: center;
    justify-self: center;
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  .items {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: 2rem !important;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 995px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }
  }

  @media screen and (max-width: 768px) {
    .items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .heading {
    background-image: url('../assets/heading.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
    border-radius: 0.2rem;
  }

  .heading-title {
    font-size: 3rem;
    color: white;
    text-decoration: underline;
  }

  .footer-heading {
    font-size: 1.5rem;
    text-decoration: underline;
  }

  .nav-item {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-size: 1.2rem;
  }

  .nav-item:hover {
    text-decoration: underline !important;
  }

  .nav {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    align-self: flex-end;
    padding: 1rem;
    background-color: white;
  }

  @media screen and (max-width: 995px) {
    .nav-item {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    .nav-item {
      font-size: .8rem;
    }
  }